@charset "ISO-8859-1";
	/*nav bar css*/
	.nav-box {
    	margin: 0px 10px;
	}
	
	body{
		padding: 20px;
		margin-top: 50px;	
	}

	.form-group{
		margin-top: 20px;
	}

	.button-class{
		text-align: center;
        border: 1px ;
        margin-top: 20px;
      
	}
         